.main-header {
    display: flex;
    background-color: whitesmoke;
    justify-content: space-between;
    padding: 30px;
}

.title-name {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
}

.title-about {
    display: flex;
    color: black;
}

.title-work{
    display: flex;
    color: black;
}

.title-contact {
    display: flex;
    color: black;
}

.title-res {
    display: flex;
}

nav {
    display: flex;
    justify-content: right;
    padding: 20px;
    background-color: lightgrey;
}

aside {
    background-color: grey;
    display: flex;
    padding: 20px;
    float: left;
}

section {
    display: flex;
    background-color: antiquewhite;
    padding: 20px;
}








/*header {
    height: 200px;
    background-color: teal;
    display: flex;
    border-bottom: 20px solid blueviolet;
    text-align: center;
}

.page-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color: coral;
    border: 10px solid coral;
}

.subtitle {
    position: relative;
    left: 964px;
    top: -50px;
    width: 100px;
    height: 50px;
    border: 10px solid palevioletred;
    background-color: limegreen;
    text-align: center;
}

.about {
    display: flex;
    flex-direction: column;
    width: 50px;
    border-right: 5px solid darkblue;
}

.work {
    display: flex;
} */


/*.title {
    background-color: green;
    height: 55px;
    display: flex;
}

.subtitle {
    background-color: aquamarine;
    color: black;
    text-align: center;
    position: relative;
}



.about {
    background-color: orange;
    height: 100px;
    padding: 20px;
}

.Work {
    background-color: purple;
    height: 100px;
    padding: 20px;
}

.contact {
    background-color: red;
    height: 100px;
} */

